html {background-color: white; color: black; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: 1em;}
h1 {color: #444; text-align: center;}
p {line-height: 1.5; color: #222;}
