html {background-color: white; color: black; font-size: 1em; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
html, body {margin: 0; padding: 0;}

h1 {color: #444; text-align: center;}
p {line-height: 1.5; color: #222;}

header > div {display: grid; grid-template-columns: 20% 40% 40%;}
footer > div {display: grid; grid-template-columns: 33% 34% 33%;}

header > div,
nav > div {border-bottom: 1px solid #666;}
footer > div {border-top: 1px solid #666;} 

div.sidecol,
footer > div > div {padding: .5em 1em;} 

header > div > div {text-align: center; max-height: 5em; padding: 3% 0% 0% 30%;}
div.logo img {max-height: 50px;} 

article > div.content {display: grid; grid-template-columns: 80% 20%; margin-bottom: 5px; min-height: 70vh;}

div.main {padding: 1em 2em;}

div.sidecol,
div.center,
div.right {border-left: 1px solid #999;}

nav > div {display: flex; align-items:center; justify-content: center;}
nav > div > div {margin:0 .1em; padding: .5em 1.5em; background-color: #444; text-align: center;}
nav > div > div:hover {background-color: #666;}
nav > div > div a {color:#fff;}

/* Adaptive */
@media screen and (max-width:369px) {
    article > div.content,
    footer > div, 
    header > div {grid-template-columns: 100%;}
    nav > div > div {margin:0; padding: .1em;}

    div.sidecol,
    div.center,
    div.right {border-left:0 none;}

    div.main {padding: .5em 1em;}
}
